# Global config variables:

# Max amount of registered users to allow.
maxusers = {{ max_users }}

allow_new_nicks = yes

# Max length for newly registered nicks. Must be less than 20.
# By default, NetHack only stores the first 10 chars of a name into
# the record/logfile.
maxnicklen = 20

# Set the default watching-screen sorting mode. Can be one of
# "username", "game", "windowsize", "starttime" or "idletime".
# "username" is the default.
sortmode = "username"

# Maximum idle time in menus
menu_max_idle_time = 3600

# Path to a prepared chroot jail.
chroot_path = "%%DGL_CHROOT%%/"

# From inside the jail, dgamelaunch's working directory for rcfiles/ttyrec/etc
dglroot = "%%CHROOT_DGLDIR%%/"

# Server ID string
server_id = "{{ server_id }}"


# From inside the jail, location of a banner file, the topmost line will be
# shown in submenus that cannot be defined separately.
# Some string substitution is done for the file:
# $VERSION   replaced with "dgamelaunch v" + dgl version number.
# $SERVERID  replaced with the server_id string, as defined above.
banner = "%%CHROOT_DGLDIR%%/data/dgl-banner"

# The following two options are fairly insecure. They will force us to
# load the password/group database into memory while still having root
# privileges. Replace them with shed_uid/shed_gid entries as soon as
# possible if you decide to use them. dgamelaunch will inform you of
# the uids/gids corresponding to your choices when it loads.
#
# Note that shed_uid and shed_gid will always take precedence over
# shed_user and shed_group if they are specified.

# shed_user: username to shed privileges to
# shed_user = crawl
# shed_group: group name to shed privileges to
# shed_group = crawl

# Preferably, you may use the respective gids/uids.
# crawl/crawl
shed_uid = 1000
shed_gid = 1000

# The defaults are usually just fine for this. passwd refers to the file
# that stores the user database, and lockfile is only used internally by
# dgamelaunch.

passwd = "%%CHROOT_DGLDIR%%/data/dgl-login"
lockfile = "%%CHROOT_DGLDIR%%/data/dgl-lock"

watch_columns = [ ["", "", 0, "%s)"],
                  ["User", "username", 3, "%-15s"],
                  ["Game", "game", 19, "%-9s"],
                  ["Where", "extrainfo", 33, "%-18s"],
                  ["Term", "windowsize", 53, "%s"],
                  ["Idle", "idletime", 62, "%-10s"],
                  ["Viewers", "watchers", 73, "%4s"]
                ]

#
# define some commands that are run when something happens. format is
# commands [ <time> ] = <command> ...
#
# <time> can be one of:
#   dglstart  = when someone telnets in
#   login     = when user has logged in
#   register  = right after a new user is registered
#   gamestart = just before a game is started
#
# <command> is:
#   mkdir "foo"        = create a directory "foo"
#   chdir "foo"        = change current work dir to "foo"
#   cp "foo" "bar"     = copy file "foo" to "bar", overwriting previous "bar"
#   ifnxcp "foo" "bar" = copy file "foo" to "bar", if "bar" doesn't exist
#   unlink "foo"       = delete file "foo"
#   setenv "foo" "bar" = set environment variable "foo" to "bar"
#   exec "foo" "bar"   = execute "foo" with "bar" as it's param
#   chpasswd           = do the change password prompting, if logged in
#   chmail             = do the change email prompting, if logged in
#   watch_menu         = go to the watching menu
#   quit               = quit dgl
#   ask_login          = do the login prompting, if not logged in
#   ask_register       = do register new user prompting, if not logged in and
#                        registration of new nicks is allowed.
#   edit_options "foo" = edit options for game which has the short name "foo"
#                        (user must be logged in)
#   play_game "foo"    = start game which has the short name "foo"
#                        (user must be logged in)
#   submenu "foo"      = go to submenu "foo"
#   return             = return from submenu
#
# The commands will be done inside the chroot and with the uid and gid
# defined above.
# Parameters to the commands are subject to variable substitution:
#   %r = dglroot, as defined above
#   %n = user nick, if user is logged in
#   %u = shed_uid, as defined above, but numeric
#   %g = game name, if user has selected a game.
#   %s = short game name, if user has selected a game.
#
# eg. commands[login] = mkdir "foo", unlink "bar", setenv "Z" "foo"
#

commands[register] = mkdir "%%CHROOT_TTYRECDIR%%/%n",
{% for version in versions %}
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-{{ version }}/%n.macro",
    ifnxcp "%rdata/crawl-{{ version }}-settings/init.txt" "%rrcfiles/crawl-{{ version }}/%n.rc",
{% endfor %}
{% for version in experimentals %}
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-{{ version }}/%n.macro",
    ifnxcp "%rdata/crawl-{{ version }}-settings/init.txt" "%rrcfiles/crawl-{{ version }}/%n.rc",
{% endfor %}
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-git/%n.macro",
    ifnxcp "%rdata/crawl-git-settings/init.txt" "%rrcfiles/crawl-git/%n.rc"

commands[login] = mkdir "%%CHROOT_TTYRECDIR%%/%n",
{% for version in versions %}
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-{{ version }}/%n.macro",
    ifnxcp "%rdata/crawl-{{ version }}-settings/init.txt" "%rrcfiles/crawl-{{ version }}/%n.rc",
{% endfor %}
{% for version in experimentals %}
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-{{ version }}/%n.macro",
    ifnxcp "%rdata/crawl-{{ version }}-settings/init.txt" "%rrcfiles/crawl-{{ version }}/%n.rc",
{% endfor %}
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-git/%n.macro",
    ifnxcp "%rdata/crawl-git-settings/init.txt" "%rrcfiles/crawl-git/%n.rc"

# commands[gamestart] =
#     mkdir "%%CHROOT_TTYRECDIR%%/%n",
#     mkdir "%%CHROOT_TTYRECDIR%%/%n/sprint",
#     setenv "SIMPLEMAIL" "1",
#     setenv "MAIL" "%%CHROOT_MAILSPOOL%%/%n"

menu["mainmenu_anon"] {
  bannerfile = "%%CHROOT_DGLDIR%%/data/menus/main_anon.txt"
  # cursor = (5,18)
  commands["lL"] = ask_login
  commands["rR"] = ask_register
  commands["wW"] = watch_menu
  commands["qQ"] = quit
}

menu["mainmenu_admin"] {
  bannerfile = "%%CHROOT_DGLDIR%%/data/menus/main_admin.txt"
  commands["cC"] = chpasswd
  commands["eE"] = chmail
  commands["wW"] = watch_menu
  commands["tT"] = submenu "crawl-git"
{% for version in versions %}
  commands["{{ loop.index }}"] = submenu "crawl-{{ version }}"
{% endfor %}
  commands["pP"] = play_game "dcss-{{ versions.0}}"
  commands["sS"] = play_game "dcss-{{ versions.0}}"
  commands["qQ"] = quit
}

menu["mainmenu_user"] {
  bannerfile = "%%CHROOT_DGLDIR%%/data/menus/main_user.txt"
  commands["cC"] = chpasswd
  commands["eE"] = chmail
  commands["wW"] = watch_menu
  commands["tT"] = submenu "crawl-git"
{% for version in versions %}
  commands["{{ loop.index }}"] = submenu "crawl-{{ version }}"
{% endfor %}
  commands["pP"] = play_game "dcss-{{ versions.0}}"
  commands["sS"] = play_game "dcss-{{ versions.0}}"
  commands["qQ"] = quit
}

menu["watchmenu_help"] {
  bannerfile = "%%CHROOT_DGLDIR%%/data/menus/watchmenu_help.txt"
  commands["qQ "] = return
}

menu["crawl-git"] {
  bannerfile = "%%CHROOT_DGLDIR%%/data/menus/crawl_git.txt"
  commands["o"] = exec "ee" "%rrcfiles/crawl-git/%n.rc"
  commands["O"] = exec "virus" "%rrcfiles/crawl-git/%n.rc"
  commands["m"] = exec "ee" "%rrcfiles/crawl-git/%n.macro"
  commands["M"] = exec "virus" "%rrcfiles/crawl-git/%n.macro"
  commands["v"] = exec "ee" "%%CHROOT_CRAWL_GAMEDIR%%/data/docs/crawl_changelog.txt"
  commands["V"] = exec "virus" "%%CHROOT_CRAWL_GAMEDIR%%/data/docs/crawl_changelog.txt"
  commands["pP"] = play_game "dcss-git"
  commands["tT"] = play_game "tut-git"
  commands["sS"] = play_game "spr-git"
  commands["xX"] = submenu "experimental"
  commands["A"] = submenu "crawl-git-adv"
  commands["wW"] = watch_menu
  commands["qQ"] = return
}

{% for version in versions %}
menu["crawl-{{ version }}"] {
  bannerfile = "%%CHROOT_DGLDIR%%/data/menus/crawl-{{ version }}.txt"
  commands["o"] = exec "ee" "%rrcfiles/crawl-{{ version }}/%n.rc"
  commands["O"] = exec "virus" "%rrcfiles/crawl-{{ version }}/%n.rc"
  commands["m"] = exec "ee" "%rrcfiles/crawl-{{ version }}/%n.macro"
  commands["M"] = exec "virus" "%rrcfiles/crawl-{{ version }}/%n.macro"
  commands["v"] = exec "ee" "%%CHROOT_CRAWL_BASEDIR%%/crawl-{{ version }}/data/docs/changelog.txt"
  commands["V"] = exec "virus" "%%CHROOT_CRAWL_BASEDIR%%/crawl-{{ version }}/data/docs/changelog.txt"
  commands["pP"] = play_game "dcss-{{ version }}"
  commands["tT"] = play_game "tut-{{ version }}"
  commands["sS"] = play_game "spr-{{ version }}"
  commands["zZ"] = play_game "zd-{{ version }}"
  commands["A"] = submenu "crawl-{{ version }}-adv"
  commands["wW"] = watch_menu
  commands["qQ"] = return
}
{% endfor %}

menu["experimental"] {
  bannerfile = "%%CHROOT_DGLDIR%%/data/menus/experimental.txt"
{% for version in experimentals %}
  commands["{{ loop.index }}"] = play_game "dcss-{{ version }}"
{% endfor %}
  commands["A"] = submenu "crawl-experimental-adv"
  commands["qQ"] = return
}

menu["crawl-git-adv"] {
  bannerfile = "%%CHROOT_DGLDIR%%/data/menus/crawl_git_adv.txt"
  commands["B"] =
    exec "/bin/savegame-backup.sh" "%n crawl-git %%CHROOT_CRAWL_BASEDIR%%",
    return
  commands["O"] =
    cp "%rdata/crawl-git-settings/init.txt" "%rrcfiles/crawl-git/%n.rc",
    return
  commands["M"] =
    cp "%rdata/crawl-git.macro" "%rrcfiles/crawl-git/%n.macro",
    return
  commands["qQ"] = return
}

{% for version in versions %}
menu["crawl-{{ version }}-adv"] {
  bannerfile = "%%CHROOT_DGLDIR%%/data/menus/crawl-{{ version }}_adv.txt"
  commands["B"] =
    exec "/bin/savegame-backup.sh" "%n crawl-{{ version }} %%CHROOT_CRAWL_BASEDIR%%",
    return
  commands["O"] =
    cp "%rdata/crawl-{{ version }}-settings/init.txt" "%rrcfiles/crawl-{{ version }}/%n.rc",
    return
  commands["M"] =
    cp "%rdata/crawl-git.macro" "%rrcfiles/crawl-{{ version }}/%n.macro",
    return
  commands["qQ"] = return
}
{% endfor %}

menu["crawl-experimental-adv"] {
  bannerfile = "%%CHROOT_DGLDIR%%/data/menus/crawl-experimental_adv.txt"
{% for version in experimentals %}
  commands["{{ loop.index }}"] =
    exec "/bin/savegame-backup.sh" "%n crawl-{{ version }} %%CHROOT_CRAWL_BASEDIR%%",
    return
{% endfor %}
  commands["qQ"] = return
}

##############################################################################
##  GIT
##############################################################################
DEFINE {
  game_path = "/bin/crawl-git-launcher.sh"
  game_name = "Crawl (trunk)"
  short_name = "dcss-git"

  game_args = "/bin/crawl-git-launcher.sh",
              "-name", "%n",
              "-rc", "%rrcfiles/crawl-git/%n.rc",
              "-macro", "%rrcfiles/crawl-git/%n.macro",
              "-webtiles-socket", "%%CHROOT_CRAWL_BASEDIR%%/webserver/sockets/%n:dcss-git.sock",
              "-morgue", "%rmorgue/%n/"

  extra_info_file = "%rmorgue/%n/%n.dglwhere"

  #
  # From inside the jail, where dgamelaunch should put mail - should
  # match up with the game's settings.
  spooldir = "%%CHROOT_MAILSPOOL%%/"

  max_idle_time = 3600

  # make sure the inprogress dir actually exists. default is "inprogress/"
  # each game you define here must have it's own.
  inprogressdir = "%rinprogress/crawl-git/"
  ttyrecdir = "%%CHROOT_TTYRECDIR%%/%n/"

  commands =
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-git/%n.macro",
    ifnxcp "%rdata/crawl-git-settings/init.txt" "%rrcfiles/crawl-git/%n.rc",
    setenv "MAIL" "%%CHROOT_MAILSPOOL%%/%n",
    setenv "SIMPLEMAIL" "1",
    unlink "%%CHROOT_MAILSPOOL%%/%n",
    mkdir "%rmorgue/%n/"

  encoding = "UTF-8"
}

##############################################################################
DEFINE {
  game_path = "/bin/crawl-git-launcher.sh"
  game_name = "Sprint (git)"
  short_name = "spr-git"

  game_args = "/bin/crawl-git-launcher.sh",
              "-name", "%n",
              "-rc", "%rrcfiles/crawl-git/%n.rc",
              "-macro", "%rrcfiles/crawl-git/%n.macro",
              "-webtiles-socket", "%%CHROOT_CRAWL_BASEDIR%%/webserver/sockets/%n:spr-git.sock",
              "-morgue", "%rmorgue/%n/",
              "-sprint"

  extra_info_file = "%rmorgue/%n/%n.dglwhere"

  #
  # From inside the jail, where dgamelaunch should put mail - should
  # match up with the game's settings.
  spooldir = "%%CHROOT_MAILSPOOL%%/"

  max_idle_time = 3600

  # make sure the inprogress dir actually exists. default is "inprogress/"
  # each game you define here must have it's own.
  inprogressdir = "%rinprogress/crawl-git-sprint/"
  ttyrecdir = "%%CHROOT_TTYRECDIR%%/%n/"

  commands =
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-git/%n.macro",
    ifnxcp "%rdata/crawl-git-settings/init.txt" "%rrcfiles/crawl-git/%n.rc",
    setenv "MAIL" "%%CHROOT_MAILSPOOL%%/%n",
    setenv "SIMPLEMAIL" "1",
    unlink "%%CHROOT_MAILSPOOL%%/%n",
    mkdir "%rmorgue/%n/"

  encoding = "UTF-8"
}

##############################################################################
DEFINE {
  game_path = "/bin/crawl-git-launcher.sh"
  game_name = "Tutorial (git)"
  short_name = "tut-git"

  game_args = "/bin/crawl-git-launcher.sh",
              "-name", "%n",
              "-rc", "%rrcfiles/crawl-git/%n.rc",
              "-macro", "%rrcfiles/crawl-git/%n.macro",
              "-webtiles-socket", "%%CHROOT_CRAWL_BASEDIR%%/webserver/sockets/%n:tut-git.sock",
              "-morgue", "%rmorgue/%n/",
              "-tutorial"

  extra_info_file = "%rmorgue/%n/%n.dglwhere"

  #
  # From inside the jail, where dgamelaunch should put mail - should
  # match up with the game's settings.
  spooldir = "%%CHROOT_MAILSPOOL%%/"

  max_idle_time = 3600

  # make sure the inprogress dir actually exists. default is "inprogress/"
  # each game you define here must have it's own.
  inprogressdir = "%rinprogress/crawl-git-tut/"
  ttyrecdir = "%%CHROOT_TTYRECDIR%%/%n/"

  commands =
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-git/%n.macro",
    ifnxcp "%rdata/crawl-git-settings/init.txt" "%rrcfiles/crawl-git/%n.rc",
    setenv "MAIL" "%%CHROOT_MAILSPOOL%%/%n",
    setenv "SIMPLEMAIL" "1",
    unlink "%%CHROOT_MAILSPOOL%%/%n",
    mkdir "%rmorgue/%n/"

  encoding = "UTF-8"
}

{% for version in versions %}
##############################################################################
##  {{ version }}
##############################################################################
DEFINE {
  game_path = "/bin/crawl-stable-launcher.sh"
  game_name = "Crawl ({{ version }})"
  short_name = "dcss-{{ version }}"

  game_args = "/bin/crawl-stable-launcher.sh", "{{ version }}",
              "-name", "%n",
              "-rc", "%rrcfiles/crawl-{{ version }}/%n.rc",
              "-macro", "%rrcfiles/crawl-{{ version }}/%n.macro",
              "-webtiles-socket", "%%CHROOT_CRAWL_BASEDIR%%/webserver/sockets/%n:dcss-{{ version }}.sock",
              "-morgue", "%rmorgue/%n/"

  extra_info_file = "%rmorgue/%n/%n.dglwhere"

  #
  # From inside the jail, where dgamelaunch should put mail - should
  # match up with the game's settings.
  spooldir = "%%CHROOT_MAILSPOOL%%/"

  max_idle_time = 3600

  # make sure the inprogress dir actually exists. default is "inprogress/"
  # each game you define here must have it's own.
  inprogressdir = "%rinprogress/crawl-{{ version[2:] }}/"
  ttyrecdir = "%%CHROOT_TTYRECDIR%%/%n/"

  commands =
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-{{ version }}/%n.macro",
    ifnxcp "%rdata/crawl-{{ version }}-settings/init.txt" "%rrcfiles/crawl-{{ version }}/%n.rc",
    setenv "MAIL" "%%CHROOT_MAILSPOOL%%/%n",
    setenv "SIMPLEMAIL" "1",
    unlink "%%CHROOT_MAILSPOOL%%/%n",
    mkdir "%rmorgue/%n/"

  encoding = "UTF-8"
}

##############################################################################
DEFINE {
  game_path = "/bin/crawl-stable-launcher.sh"
  game_name = "Sprint ({{ version }})"
  short_name = "spr-{{ version }}"

  game_args = "/bin/crawl-stable-launcher.sh", "{{ version }}",
              "-name", "%n",
              "-rc", "%rrcfiles/crawl-{{ version }}/%n.rc",
              "-macro", "%rrcfiles/crawl-{{ version }}/%n.macro",
              "-webtiles-socket", "%%CHROOT_CRAWL_BASEDIR%%/webserver/sockets/%n:spr-{{ version }}.sock",
              "-morgue", "%rmorgue/%n/",
              "-sprint"

  extra_info_file = "%rmorgue/%n/%n.dglwhere"

  #
  # From inside the jail, where dgamelaunch should put mail - should
  # match up with the game's settings.
  spooldir = "%%CHROOT_MAILSPOOL%%/"

  max_idle_time = 3600

  # make sure the inprogress dir actually exists. default is "inprogress/"
  # each game you define here must have it's own.
  inprogressdir = "%rinprogress/crawl-{{ version[2:] }}-sprint/"
  ttyrecdir = "%%CHROOT_TTYRECDIR%%/%n/"

  commands =
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-{{ version }}/%n.macro",
    ifnxcp "%rdata/crawl-{{ version }}-settings/init.txt" "%rrcfiles/crawl-{{ version }}/%n.rc",
    setenv "MAIL" "%%CHROOT_MAILSPOOL%%/%n",
    setenv "SIMPLEMAIL" "1",
    unlink "%%CHROOT_MAILSPOOL%%/%n",
    mkdir "%rmorgue/%n/"

  encoding = "UTF-8"
}

##############################################################################
DEFINE {
  game_path = "/bin/crawl-stable-launcher.sh"
  game_name = "Tutorial ({{ version }})"
  short_name = "tut-{{ version }}"

  game_args = "/bin/crawl-stable-launcher.sh", "{{ version }}",
              "-name", "%n",
              "-rc", "%rrcfiles/crawl-{{ version }}/%n.rc",
              "-macro", "%rrcfiles/crawl-{{ version }}/%n.macro",
              "-webtiles-socket", "%%CHROOT_CRAWL_BASEDIR%%/webserver/sockets/%n:tut-{{ version }}.sock",
              "-morgue", "%rmorgue/%n/",
              "-tutorial"

  extra_info_file = "%rmorgue/%n/%n.dglwhere"

  #
  # From inside the jail, where dgamelaunch should put mail - should
  # match up with the game's settings.
  spooldir = "%%CHROOT_MAILSPOOL%%/"

  max_idle_time = 3600

  # make sure the inprogress dir actually exists. default is "inprogress/"
  # each game you define here must have it's own.
  inprogressdir = "%rinprogress/crawl-{{ version[2:] }}-tut/"
  ttyrecdir = "%%CHROOT_TTYRECDIR%%/%n/"

  commands =
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-{{ version }}/%n.macro",
    ifnxcp "%rdata/crawl-{{ version }}-settings/init.txt" "%rrcfiles/crawl-{{ version }}/%n.rc",
    setenv "MAIL" "%%CHROOT_MAILSPOOL%%/%n",
    setenv "SIMPLEMAIL" "1",
    unlink "%%CHROOT_MAILSPOOL%%/%n",
    mkdir "%rmorgue/%n/"

  encoding = "UTF-8"
}

{% endfor %}

##############################################################################
##  Other branches
##############################################################################

{% for version in experimentals %}
##############################################################################
##  {{ version }}
##############################################################################
DEFINE {
  game_path = "/bin/crawl-stable-launcher.sh"
  game_name = "Crawl ({{ version }})"
  short_name = "dcss-{{ version }}"

  game_args = "/bin/crawl-stable-launcher.sh", "{{ version }}",
              "-name", "%n",
              "-rc", "%rrcfiles/crawl-git/%n.rc",
              "-macro", "%rrcfiles/crawl-git/%n.macro",
              "-webtiles-socket", "%%CHROOT_CRAWL_BASEDIR%%/webserver/sockets/%n:dcss-{{ version }}.sock",
              "-morgue", "%rmorgue/%n/"

  extra_info_file = "%rmorgue/%n/%n.dglwhere"

  #
  # From inside the jail, where dgamelaunch should put mail - should
  # match up with the game's settings.
  spooldir = "%%CHROOT_MAILSPOOL%%/"

  max_idle_time = 3600

  # make sure the inprogress dir actually exists. default is "inprogress/"
  # each game you define here must have it's own.
  inprogressdir = "%rinprogress/crawl-{{ version }}/"
  ttyrecdir = "%%CHROOT_TTYRECDIR%%/%n/"

  commands =
    ifnxcp "%rdata/crawl-git.macro" "%rrcfiles/crawl-git/%n.macro",
    ifnxcp "%rdata/crawl-git-settings/init.txt" "%rrcfiles/crawl-git/%n.rc",
    setenv "MAIL" "%%CHROOT_MAILSPOOL%%/%n",
    setenv "SIMPLEMAIL" "1",
    unlink "%%CHROOT_MAILSPOOL%%/%n",
    mkdir "%rmorgue/%n/"

  encoding = "UTF-8"
}
{% endfor %}
