Crawl server ({{ location }}) hosted and maintained by {{ maintainer }}.
------------------------------------------------------------------------------
Webtiles:           {{ protocol }}://{{ serverurl }}
Crawl information:  http://crawl.develz.org/
------------------------------------------------------------------------------
** Games on this server are recorded for in-progress viewing and playback! **
------------------------------------------------------------------------------

Logged in as: $USERNAME
Game selected: Dungeon Crawl Stone Soup EXPERIMENTAL

Select the experimental version you wish to backup
(for bug reports and debugging)

{% for version in experimentals %}
{{ loop.index }}) {{ version }}
{% endfor %}

q) Return to previous menu

=>
